*{
  box-sizing: border-box;
  font-family: 'D2Coding';
}


header > h1{
  color: navy;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: 'D2Coding';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.rowDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hrefDiv, button{
  background-color: rgb(221, 221, 221);
  border: 1px solid rgb(138, 138, 138);
  border-radius: 3px;
  height: 25px;
  
  padding: auto;
  margin: 5px;
}

.hrefDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 0.8em;
  color: black;
}